
.counter{
    display: flex;
    
    align-items: center;
    gap:25px;
}


.counter-button{
    color: rgb(250, 249, 249);
    background-color: rgb(71, 70, 70);
    
    width: auto;
    height: auto;
    font-family: 'Segoe UI', Roboto;
    
    border-radius: 8px;
    
}
